.formulario {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
}

.container-form {
  width: 90%;
  height: 90vh;
  display: flex;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
}

.form-image {
  background-color: #6c63ff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
}

.form-header {
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 5em;
  height: 0.3em;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-box input {
  margin: 0.6em 0;
  padding: 0.8em 1.2em;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 2px #000000c1;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.botao-cadastrar, .botao-entrar {
  background-color: #6c63ff;
  transition: background-color 0.8s ease;
  color: var(--border-color);
  border: none;
  border-radius: 8px;
  width: 8em;
}

.botao-cadastrar {
  width: 100%;
  padding: 1em;
}

.mensagem-erro {
  color: red;
  font-size: 14px;
  margin-top: 4px;
  max-width: 200px;
}

.icons-erro {
  display: flex;
  color: red;
  gap: 6px;
}

