/* RESET SIMPLES */

/* Remove margens e paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove bullets e numeração de listas */
ul, ol {
  list-style: none;
}

/* Links sem sublinhado */
a {
  text-decoration: none;
  color: inherit;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  display: block;
}